{% extends 'base.html' %}

{% block conteudo %}

{% include 'blog/hero.html' %}
<!-- ======= Hero Section ======= --> 
<!-- End Hero -->

<main id="main">
<!-- ======= About Section ======= -->
{% include 'blog/about.html' %}
<!-- End About Section -->

<!-- ======= Services Section ======= -->
{% include 'blog/services.html' %}
<!-- End Services Section -->

<!-- ======= Features Section ======= -->
{% include 'blog/feature.html' %}
<!-- End Features Section -->

<!-- ======= Cta Section ======= -->
{% include 'blog/cta.html' %}
<!-- End Cta Section -->

<!-- ======= Portfolio Section ======= -->
{% include 'blog/portfolio.html' %}
<!-- End Portfolio Section -->

<!-- ======= Pricing Section ======= -->
  {% include 'blog/prices.html' %}
<!-- End Pricing Section -->

<!-- ======= F.A.Q Section ======= -->
{% include 'blog/faq.html' %}
<!-- End F.A.Q Section -->

<!-- ======= Team Section ======= -->
{% include 'blog/team.html' %}
<!-- End Team Section -->

<!-- ======= Contact Section ======= -->
{% include 'blog/contato.html' %}
<!-- End Contact Section -->

</main>
<!-- End #main -->

<!-- ======= Footer ======= -->
{% include 'blog/footer.html' %}
<!-- End Footer -->
{% endblock %}